
node_modules/

.env
.env.local
.env.production


.DS_Store
Thumbs.db


*.log
npm-debug.log*


.vscode/
.idea/
*.swp
*.swo


*.tmp

# Prisma
/generated/prisma
/prisma


# Сборка и зависимости
dist/
build/
.npm