PORT=3000
BASE_URL=http://www.omdbapi.com/
API_KEY=KEY_PERSO_OMDBAPI
NODE_ENV=development
FRONT_URL=http://localhost:5173
PATH=http://localhost:
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=DB_PASSWORD
DB_NAME=movies_db
DB_PORT=3306